<div id="categories-page-wrapper">
  @if (categories().length !== 0) {
<!--  @if (false) {-->
    <div id="button-bar-holder">
      <a routerLink="/categories/create" id="new-button-anchor"><button matButton="filled" id="new-button">New</button></a>
    </div>

    <table mat-table [dataSource]="categories()" id="categories-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let category">{{category.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let category">{{category.description}}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let category">{{category.createdAt}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  } @else {
    <mat-spinner color="primary" id="categories-spinner"></mat-spinner>
  }
</div>
