#categories-page-wrapper {
  min-height: calc(100vh - 60px);
  background-color: #D3D3D3;
  z-index: 0;
  box-sizing: border-box;
  padding: 20px;
}

table {
  border-radius: 10px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#categories-spinner {
  border: black 1px solid;
  width: 600px;
  height: 600px;
}
