<div id="create-categories-page-wrapper">
  <div id="button-bar-holder">
    <a routerLink="/categories" id="back-button-anchor"><button matButton="filled" id="back-button">Back</button></a>
  </div>

  <form id="form-holder" (ngSubmit)="submitForm()" [formGroup]="form">
    <h2 id="form-title">Create New Category</h2>
    <mat-form-field  floatLabel="always" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field floatLabel="always" id="description">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" id="description-textarea"></textarea>
    </mat-form-field>
    <br>
    <button matButton="filled" type="submit" id="submit-button">Submit</button>
  </form>
</div>
